.Estilo1 {
	color: #3A0DFF;
	font-size: 50px;
	font-family: Arial black;
    margin-top: -5px;
}

#bt {
background-color:#00FFFF;
height: max-content;
left: max-content;
}

.Estilo2 {
    font-weight: bold;
	font-size: 28px;
	background-color: #1E5945;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 50px 100px 50px 100px;
    margin: 30px;
    color: #FFFFFF;
}

.Estilo3 {
	font-weight: bold;
	font-size: 28px;
	background-color: #58d024ff;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 50px 80px 50px 90px;
    margin: 0px 20px 10px 30px;
}

    .Estilo4{
    font-weight: bold;
	font-size: 28px;
	background-color: #1E5945;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 50px 100px 50px 100px;
    margin: 0px 0px 10px 30px;
    color: #FFFFFF;
}

.Estilo8 {font-size: 38px}

table
{
    margin-top: -20px;
}