.Estilo1 {
	color: #9900ff;
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
}

#bt {
background-color:#00FFFF;
height:auto;
left:auto;
}

.Estilo2 {
    font-weight: bold;
	font-size: 36px;
	background-color: #58d024ff;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 50px;
    margin: 1px;
}

.Estilo3 {
	font-weight: bold;
	font-size: 36px;
	background-color: #eeeeeeff;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 50px;
    margin: 1px;
}

